# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# VS files
*.opensdf
*.sdf
*.pdb
*.suo
*.ilk
*.exp
*.tlog
*.bi
*.log
*.lastbuildstate
*.obj
*.metagen
*.intermediate.manifest
*.cache
/Debug

/ipch
/obj

Images/sprites/L
Images/sprites/M
Images/sprites/S
Images/sprites/XL

*.aux
*.dvi
*.lof
*.lol
*.out
*.toc